[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
websockets = "*"
pydantic-settings = "*"
openai = "*"
async-openai = "*"
file-io = "==v0.5.01rc0"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.11"
